.countdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.countdown-text {
  font-size: 60px;
}

h1 {
  color: rgb(218, 183, 139);
}